.DS_Store
.dart_tool/
*.svn/

.packages
.pub/
.idea/
.vscode/

.flutter-plugins
*.iml

.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar

pubspec.lock
.metadata

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
/.flutter-plugins-dependencies
